.layout{
    width: 100%;
    padding:0px;
    display: flex;
    height:100%;
    background-color: lightgray;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex:0 0 15%;
    background-color: white;
    border-right:1px solid rgba(232, 232, 232, 1) ;
    align-items: center;
    padding: 20px;
}
.header{
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.contentArea{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainContent{
    flex:0 0 85%;
    background-color: lightgray;

}
.title{
    font-size: 24px;
    font-weight: 600;
}
.userInfo {
     margin-left: auto; 
    display: flex;
    gap: 4px;
}

.userName {
    font-weight: 600;
    color: #2d3748;
    font-size: 0.95rem;
}

.userRole {
    font-size: 0.8rem;
    color: #718096;
    background: #f7fafc;
    padding: 2px 8px;
    border-radius: 4px;
}