.navLink{
    width: 80%;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 10px 5px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: gray;
    height: 50px;
    gap: 20px;
}

.notActive:hover{
    color: black!important;
    background-color: lightgray;
}
.active{
    background-color: rgba(172, 127, 94, 1);
    color: white;
}
.active:hover {
    color: white !important;
}
a:hover{
    color: white;
}
.navList{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}